In [2]:
import os

import cudf
import cupy as cp
import dask_cudf
import pandas as pd

In [3]:
cp.random.seed(12)

# Object Creation


Creating a `cudf.Series` and `dask_cudf.Series`.

In [5]:
s = cudf.Series([1,2,3, None, 4])
s

0       1
1       2
2       3
3    <NA>
4       4
dtype: int64

In [6]:
ds = dask_cudf.from_cudf(s, npartitions=2)

In [7]:
ds.head(n=3)

0    1
1    2
2    3
dtype: int64

Creating a `cudf.DataFrame` and a `dask_cudf.DataFrame` by specifying values for each column.

In [9]:
df = cudf.DataFrame(
    {
        "a" : list(range(20)),
        "b" : list(reversed(range(20))),
        "c" : list(range(20))
    }
)

In [10]:
df

     a   b   c
0    0  19   0
1    1  18   1
2    2  17   2
3    3  16   3
4    4  15   4
5    5  14   5
6    6  13   6
7    7  12   7
8    8  11   8
9    9  10   9
10  10   9  10
11  11   8  11
12  12   7  12
13  13   6  13
14  14   5  14
15  15   4  15
16  16   3  16
17  17   2  17
18  18   1  18
19  19   0  19

- To inspect data in Dask-cuDF, we call a method: `.head()`.
- In a small case, we can call `ddf.compute()` untuk `Dask-cuDF` $\Righarrow$ `cuDF`.